<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sthink;password=kvadratn!koren!z2;Data Source=TEDP002MP\SAMURAI;Database=SocialthinkingSitecore_Core"/>
  <add name="master" connectionString="user id=sthink;password=kvadratn!koren!z2;Data Source=TEDP002MP\SAMURAI;Database=SocialthinkingSitecore_Master"/>
  <add name="web" connectionString="user id=sthink;password=kvadratn!koren!z2;Data Source=TEDP002MP\SAMURAI;Database=SocialthinkingSitecore_Web"/>
  <add name="reporting" connectionString="user id=sthink;password=kvadratn!koren!z2;Data Source=TEDP002MP\SAMURAI;Database=SocialthinkingSitecore_analytics"/>
  <add name="activecommerce" connectionString="user id=sthink;password=kvadratn!koren!z2;Data Source=TEDP002MP\SAMURAI;Database=Socialthinking_activecommerce"/>
  <add name="analytics" connectionString="mongodb://localhost/analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/tracking_contact" />
</connectionStrings>